<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${title}</title>
    <link rel="stylesheet" href = "style.css" >
</head>
<body>
<div>
    <h1>Список котов</h1>
        <table>
            <tr><th>Имя кота</th><th>Вес кота</th></tr>
            <tr><td>${cat1.name}</td><td>${cat1.weight}</td></tr>
            <tr><td>${cat2.name}</td><td>${cat2.weight}</td></tr>
            <tr><td>${cat3.name}</td><td>${cat3.weight}</td></tr>
        </table>

     <p> <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D1%88%D0%BA%D0%B8_(%D1%80%D0%BE%D0%B4)">Домашняя кошка</a> - млекопитающее семейства кошачьих отряда хищных</p>
    <img src="cat.jpg" alt="cat">

</div>
</body>
</html>